body{
  font-family: 'Anaheim';
  font-size: 1.2em;
}

#outside{
  background-color: lightgoldenrodyellow;
  padding-top: 25%;
  padding-bottom: 25%;
}

h1{
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

form{
  /*Just to center the form the page*/
  margin: 0 auto;
  width: 70%;
  /*To see the limits of the form*/
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  
}
#survey-form{
  backgroud-color: white;
}

fieldset{
  border: 1px solid lightgray;
  margin: 10px;
}

legend{
  font-weight:700;
}

#number{
  width:150px;
}

div + div {
  margin-top: 1em;
}

input, textarea{
  width: 200px;
  border: 1px solid #999;
}

input:focus, textarea:focus{
  border-color: OrangeRed;
}

textarea{
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.button {
  padding-left: 90px
}

button{
  margin: .5em;
  font-size: 1em;
  text-transform: capitalize;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
  
}

#submitbutton {
  display: flex;
  justify-content: centre;
}